.app-main {
  background: var(--mainBgColor);
  display: flex;
  overflow: hidden;
  .container {
    width: 100%;
    max-width: var(--mainMaxWidth);
    min-width: var(--mainMinWidth);
    height: calc(100vh - 100px);
    margin: 0 auto;
  }
}