.left-side {
  flex: 0 0 280px;
  height: calc(100vh - 100px);
  background: var(--mainFgColor);
  border-right: 1px solid var(--borderColor);
  .play-list {
    .list-item {
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      &:hover {
        background: var(--hoverBgColor);
      }
    }
  }
}