.recommend {
  height: calc(100% - 40px);
  .tags-list {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--borderColor);
    .tag {
      &:hover {
        color: var(--mainColor);
      }
      &.active {
        color:var(--mainColor);
      }
    }
  }
}