.app-footer {
  position: relative;
  height: 55px;
  .footer-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mainFgColor);
  }
  .footer-container {
    border-top: 1px solid var(--borderColor);
  }
}